<h1>Add A Bot</h1>

<form action="/robots" method="post">
  <input type="text" name='robot[name]' placeholder="name"><br>
  <input type="text" name='robot[city]' placeholder="city of birth"><br>
  <input type="text" name='robot[state]' placeholder="state of birth"><br>
  <input type="text" name='robot[birthdate]' placeholder="birth date"><br>
  <input type="text" name='robot[datehired]' placeholder="date hired"><br>
  <input type="text" name='robot[department]' placeholder="department"><br>
  <input type="submit" name="edit" value="Save Bot">
</form>